body{
    display: grid;
    grid-template-areas: 
    "h h h h h h"
    "n n n n n n"
    "s s s s a a"
    "f f f f f f"
    ;
    gap: 20px;
}
header{
    grid-area: h;
}
nav{
    grid-area: n;
}
section{
    grid-area: s;
}
aside{
    grid-area: a;
}
footer{
    grid-area: f;
}
